:root {
    --header-bg-color: #000, #111122, #1f1f3a, #292855;
    --product-gradient: #292957, #00072D, #000;
}


body {
    height: 100vh;
}

 /* -------------------------- Header ------------------------- */

header {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 3%;
    height: 10%;
    /* background-image: linear-gradient(to bottom, var(--header-bg-color)); */
}

header .logo-box{
    width: 40px;
    height: 40px;
}

header .logo-box img {
    width: 100%;
    height: fit-content;
    filter: drop-shadow(1px 1px 2px rgb(150, 150, 150));
}

header .page-navegation {
    /* background-color: aquamarine; */
    display: flex;
    padding: 10px;
    gap: 10px;
}

header .page-navegation a {
    color: #fff;
    text-decoration: none;
    /* background-color: #ffffff13; */
    padding: 8px 10px;
    border-radius: 15px;
    transition: ease-in-out .3s;
}

header .page-navegation a:hover {
    filter: drop-shadow(0px 0px 2px #fff);
    background-color: #ffffff13;
}

@media screen and (max-width: 500px) {
    header .page-navegation {
        display: none;
    }

    header .logo-box img {
        width: 60%;
    }
}


/* -------------------------- Pruduct ------------------------- */

main .product-section {
    /* background-color: var(--bg-color-1); */
    /* background-image: radial-gradient(circle at 80%, var(--product-gradient)); */
    background-image: linear-gradient(to top, var(--product-gradient));
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-left: 10px;
    padding-right: 10px;
}

main .iphone-central-img {
    width: 40%;
    margin-bottom: -15%;
}

main .iphone-name-section {
    margin-left: 5%;
    font-size: 2em;
    color: #fff;
}

main .iphone-name-section h1 {
    font-size: 2em;
    margin-top: -20px;
    margin-bottom: -70px;
}

main .iphone-name-section small {
    margin-left: -3%;
}

main .iphone-name-section strong {
    font-size: 6em;
}

@media screen and (max-width: 500px) {

    main .iphone-name-section {
        width: 45%;
        font-size: 1em;
    }

    main .iphone-name-section h1 {
        margin: 0;
        margin-top: -10px;
        margin-bottom: -30px;
    }
}

/* -------------------------- Pruduct Colors ------------------------- */

main .product-colors-section {
    background-image: linear-gradient(to bottom, var(--product-gradient));
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
    padding: 80px 20px 200px 20px;
}

main .product-colors-section .color-section {
    width: 25%;
    margin-top: 40%;
    /* filter: brightness(.9);
    filter: saturate(2); */
}

main .product-colors-section .color-section img {
    width: 100%;
}

main .product-colors-section .change_color {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

main .product-colors-section .change_color #color_name {
    text-transform: capitalize;
    color: #fff;
    white-space: nowrap
}

main .product-colors-section .change_color ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 15px;
    padding: 10px 15px;
    background-color: #ffffff8e;
    border-radius: 50px;
}

main .product-colors-section .change_color ul li{
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    animation: ease-in-out 5s;
}

main .product-colors-section .change_color ul li:hover {
    border: 1px solid #ffffff;
}

.selected {
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 5px #000 inset;
    scale: 1.2;
}

main .product-colors-section .about-section {
    margin-top: 10%;
    font-size: 3em;
    font-weight: 500;
    color: #fff;
    max-width: 40%;
}

@media screen and (max-width: 520px){
    main .product-colors-section {
        flex-direction: column-reverse;
    }

    main .product-colors-section .color-section {
        margin-top: 20%;
    }

    main .product-colors-section .about-section {
        margin-top: 35%;
        font-size: 2em;
        max-width: 80%;
    }
}

#black {
    background-color: #363636;
}
#pink {
    background-color: #fae4e5;
}
#yellow {
    background-color: #f0e9c3;
}
#blue {
    background-color: #a2c1d9;
}
#green {
    background-color: #cde0c0;
}


/* -------------------------- Features ------------------------- */

main .features-section {
    background-color: #000;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    padding: 30px;
    padding-top: 250px;
    padding-bottom: 200px;
}

main .features-section .feature-section-title {
    color: #fff;
    position: absolute;
    top: 0;
    left: 4%;
    font-size: 3.6em;
    width: 80%;
    border-bottom: 3px solid #fff;
    filter: opacity(.1);
    user-select: none;
}

main .features-section .settings-section {
    padding: 10px;
    max-width: 70%;
}

main .features-section .settings-section ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: #fff;
    font-size: 1.5em;
    list-style: none;
}

main .features-section .settings-section ul li {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 60%; */
}

main .features-section .settings-section ul li .zoom-types {
    display: flex;
    gap: 10px;
}

main .features-section .settings-section ul li .zoom-types span{
    background-color: #ffffff88;
    font-size: .8em;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #ffffff inset;
    padding: 7px;
}


main .features-section .buy-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
    margin-top: 100px;
}

main .features-section .buy-section .buy-button {
    background-color: #ffffff54;
    text-align: center;
    padding: 10px 20px;
    border: 3px solid #fff;
    border-radius: 30px;
    font-size: 1.6em;
    color: #fff;
    box-shadow: 0px 0px 10px #ffffff4f;
    text-decoration: none;
    transition: ease-in-out .2s;
}

main .features-section .buy-section .buy-button:hover {
    box-shadow: 0px 0px 15px #ffffff4f;
    padding: 15px 25px;
    border-radius: 35px;
    margin-top: -5px;
    background: linear-gradient(90deg, #f8f8f879, #fdfdfd75);
}

main .features-section .buy-section .view-more-button {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

main .features-section .buy-section .view-more-button:hover {
    text-shadow: 0px 0px 15px #ffffff;
}

@media screen and (max-width: 500px) {
    main .features-section .settings-section {
        max-width: 90%;
    }
}


/* -------------------------- Footer ------------------------- */

footer {
    background-color: #080808;
    background-image: linear-gradient(to bottom, #000, #080808);
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding: 30px;
    border-top: 2px solid #080808;
}

footer div {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 5px;
}

footer div h3 {
    color: #3a3a3a;
}

footer div ul {
    display: flex;
    flex-direction: column;
    gap: 3px;
    list-style: none;
}

footer div ul li {
    margin-left: 7px;
}

footer div ul li a {
    color: #fff;
    text-decoration: none;
}

footer div ul li a:hover {
    text-decoration: underline;
}